MedicalDevice-automation/workflows/Vendor Email Intake.blueprint.json
{
    "name": "Vendor Email Intake",
    "flow": [
        {
            "id": null,
            "module": "placeholder:Placeholder",
            "metadata": {
                "designer": {
                    "x": -502,
                    "y": -1153
                }
            }
        },
        {
            "id": 55,
            "module": "google-email:executeEmailSearchQuery",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 12961725
            },
            "mapper": {
                "q": "from:(temitopefunmi@yahoo.com OR temioncloud@gmail.com) subject:maintenance",
                "limit": "10",
                "format": "full",
                "filterType": "gmailSearch",
                "includeHtmlBody": false
            },
            "metadata": {
                "designer": {
                    "x": 320,
                    "y": -1156
                },
                "restore": {
                    "expect": {
                        "format": {
                            "mode": "chose",
                            "label": "Full content"
                        },
                        "filterType": {
                            "mode": "chose",
                            "label": "Gmail filter"
                        },
                        "includeHtmlBody": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (temitopefunmi@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "includeHtmlBody",
                        "type": "boolean",
                        "label": "Include HTML body",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 64,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 945,
                    "y": -1141
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 94,
                            "module": "google-email:listEmailAttachments",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 12961725
                            },
                            "filter": {
                                "name": "GE",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{55.fromEmail}}",
                                            "b": "temioncloud@gmail.com",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "include": [
                                    "attachment",
                                    "media"
                                ],
                                "messageId": "{{55.id}}",
                                "returnAttachmentData": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1577,
                                    "y": -949
                                },
                                "restore": {
                                    "expect": {
                                        "include": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (temitopefunmi@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID",
                                        "required": true
                                    },
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Include",
                                        "multiple": true,
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "attachment",
                                                "media"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "returnAttachmentData",
                                        "type": "boolean",
                                        "label": "Return media or attachment file data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 95,
                            "module": "csv:ParseCSV",
                            "version": 1,
                            "parameters": {
                                "relax": false,
                                "colCount": null,
                                "delimiter": ",",
                                "csvHeaders": "",
                                "delimiterType": "other",
                                "csvContainsHeaders": true
                            },
                            "mapper": {
                                "csv": "{{toString(94.data)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1936,
                                    "y": -946
                                },
                                "restore": {
                                    "parameters": {
                                        "delimiterType": {
                                            "label": "Other"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "colCount",
                                        "type": "number",
                                        "label": "Number of columns"
                                    },
                                    {
                                        "name": "csvContainsHeaders",
                                        "type": "boolean",
                                        "label": "CSV contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "delimiterType",
                                        "type": "select",
                                        "label": "Delimiter",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                ",",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "relax",
                                        "type": "boolean",
                                        "label": "Preserve quotes inside unquoted field",
                                        "required": true
                                    },
                                    {
                                        "name": "csvHeaders",
                                        "type": "text",
                                        "label": "CSV headers (recommended)"
                                    },
                                    {
                                        "name": "delimiter",
                                        "type": "text",
                                        "label": "Delimiter character",
                                        "required": true,
                                        "validate": {
                                            "max": 1,
                                            "min": 1
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "csv",
                                        "type": "text",
                                        "label": "CSV",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 80,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 11728212
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "1": "{{formatDate(timestamp + \":\"; \" \"\"YYYY-MM-DD HH:mm:ss\"\"\")}}",
                                    "2": "{{66.col3}}",
                                    "4": "{{66.col1}}",
                                    "5": "{{66.col2}}",
                                    "6": "Philps",
                                    "7": "{{66.col4}}",
                                    "8": "{{66.col5}}"
                                },
                                "sheetId": "Maintenance logs",
                                "spreadsheetId": "/1EXf9uHXVBNs2AAPVHYg3isr-4TjhL7sgKA7uvA9nSGA",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2303,
                                    "y": -938,
                                    "messages": [
                                        {
                                            "category": "reference",
                                            "severity": "error",
                                            "message": "Module references non-existing module '66'."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Maintenance logs"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "My form"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Submission ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Submission time (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Device ID (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Type new ID (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Device Name (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Department (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Vendor (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Maintenance Type (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Maintenance Date (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "DeviceID (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Processed (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Column 2 (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Column 3 (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Column 4 (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Column 5 (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Column 6 (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Column 7 (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "Column 8 (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "Column 9 (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "Column 10 (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "Column 11 (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "Column 12 (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "Column 13 (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "Column 14 (X)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (temitopefunmi@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Submission ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Submission time (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Device ID (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Type new ID (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Device Name (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Department (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Vendor (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Maintenance Type (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Maintenance Date (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "DeviceID (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Processed (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Column 2 (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Column 3 (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Column 4 (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Column 5 (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Column 6 (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Column 7 (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "Column 8 (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "Column 9 (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "Column 10 (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "Column 11 (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "Column 12 (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "Column 13 (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "Column 14 (X)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 89,
                            "module": "google-email:listEmailAttachments",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 12961725
                            },
                            "filter": {
                                "name": "GE",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{55.fromEmail}}",
                                            "b": "temioncloud@gmail.com",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "include": [
                                    "attachment",
                                    "media"
                                ],
                                "messageId": "{{55.id}}",
                                "returnAttachmentData": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1587,
                                    "y": -1473
                                },
                                "restore": {
                                    "expect": {
                                        "include": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (temitopefunmi@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID",
                                        "required": true
                                    },
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Include",
                                        "multiple": true,
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "attachment",
                                                "media"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "returnAttachmentData",
                                        "type": "boolean",
                                        "label": "Return media or attachment file data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 91,
                            "module": "csv:ParseCSV",
                            "version": 1,
                            "parameters": {
                                "relax": false,
                                "colCount": null,
                                "delimiter": ",",
                                "csvHeaders": "",
                                "delimiterType": "other",
                                "csvContainsHeaders": true
                            },
                            "mapper": {
                                "csv": "{{toString(89.data)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1946,
                                    "y": -1470
                                },
                                "restore": {
                                    "parameters": {
                                        "delimiterType": {
                                            "label": "Other"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "colCount",
                                        "type": "number",
                                        "label": "Number of columns"
                                    },
                                    {
                                        "name": "csvContainsHeaders",
                                        "type": "boolean",
                                        "label": "CSV contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "delimiterType",
                                        "type": "select",
                                        "label": "Delimiter",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                ",",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "relax",
                                        "type": "boolean",
                                        "label": "Preserve quotes inside unquoted field",
                                        "required": true
                                    },
                                    {
                                        "name": "csvHeaders",
                                        "type": "text",
                                        "label": "CSV headers (recommended)"
                                    },
                                    {
                                        "name": "delimiter",
                                        "type": "text",
                                        "label": "Delimiter character",
                                        "required": true,
                                        "validate": {
                                            "max": 1,
                                            "min": 1
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "csv",
                                        "type": "text",
                                        "label": "CSV",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 82,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 11728212
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "1": "{{formatDate(timestamp + \":\"; \" \"\"YYYY-MM-DD HH:mm:ss\"\"\")}}",
                                    "2": "{{91.col1}}",
                                    "4": "{{91.col2}}",
                                    "6": "GE Healthcare",
                                    "7": "{{91.col5}}",
                                    "8": "{{91.col3}}"
                                },
                                "sheetId": "Maintenance logs",
                                "spreadsheetId": "/1EXf9uHXVBNs2AAPVHYg3isr-4TjhL7sgKA7uvA9nSGA",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2282,
                                    "y": -1474
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Maintenance logs"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "My form"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Submission ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Submission time (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Device ID (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Type new ID (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Device Name (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Department (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Vendor (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Maintenance Type (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Maintenance Date (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "DeviceID (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Processed (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Column 2 (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Column 3 (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Column 4 (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Column 5 (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Column 6 (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Column 7 (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "Column 8 (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "Column 9 (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "Column 10 (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "Column 11 (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "Column 12 (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "Column 13 (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "Column 14 (X)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (temitopefunmi@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Submission ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Submission time (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Device ID (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Type new ID (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Device Name (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Department (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Vendor (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Maintenance Type (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Maintenance Date (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "DeviceID (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Processed (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Column 2 (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Column 3 (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Column 4 (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Column 5 (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Column 6 (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Column 7 (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "Column 8 (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "Column 9 (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "Column 10 (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "Column 11 (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "Column 12 (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "Column 13 (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "Column 14 (X)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}